@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-color: #fff;
    --form-button-color: #298e12;
    --outline-color: #3b99fc;
}

body {
    background: url(../img/leaf.webp)  50.63% 31.87% / cover no-repeat;
    /* filter: saturate(150%); */
    color: var(--light-color);
}

.section__leaf-company {
    padding: 100px 0;
    background: rgba(20, 20, 20, 0.8); 
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 24px;
}

@media (min-width: 768px) {
    .section__leaf-company {
        padding: 135px 0;
    }
    .container {
        padding: 0 32px;
    }
}
@media (min-width: 992px) {
    .section__leaf-company {
        padding: 170px 0;
    }
    .container {
        padding: 0 40px;
    }
}
@media (min-width: 1280px) {
    .container {
        padding: 0 15px;
    }
}