.footer {
    margin-top: 50px;
}

.social-icon__container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.social-icon__link {
    fill: var(--light-color);
    width: 36px;
    height: 36px;
    margin: 0 7.5px 15px;
}

.social-link {
    display: flex;
    justify-content: space-around;
}

.icon-outer {
    fill: transparent;
}

.border__social-icon {
    fill: var(--light-color);
}

.social-icon:hover {
    fill: transparent;
}

.logo__social-icon:hover {
    fill: var(--light-color);
}

.icon-outer:hover {
    fill: var(--light-color);
}
